extends ../layout

block content
  h1 Users (Admin)
  section
    if comments.length == 0
      ul.pagination
        li.page-item
          a.page-link(href=`/admin/comments/${previousNumber}`) <

        each number in numbersArray
          li.page-item(class=(number == highlightedNumber) ? 'active' : undefined)
            a.page-link(href=`/admin/comments/${number}`) #{number}

        li.page-item
          a.page-link(href=`/admin/comments/${nextNumber}`) >

      p There are no more comments
    else
      ul.pagination
        li.page-item
            a.page-link(href=`/admin/comments/${previousNumber}`) <

        each number in numbersArray
            li.page-item(class=(number == highlightedNumber) ? 'active' : undefined)
                a.page-link(href=`/admin/comments/${number}`) #{number}

        li.page-item
                  a.page-link(href=`/admin/comments/${nextNumber}`) >
      each comment in comments
        article
          //- NEW CHANNEL UPLOAD FORMAT
          header    
            h2 Commenter Name: #{comment.commenter.channelName}
            p
              a(href=`/user/${comment.commenter.channelUrl}`) 
              | Commenter Url: #{comment.commenter.channelUrl} 
            p Visibility : #{comment.visibility}

            if comment.upload
              p
                a(href=`/user/${comment.commenter.channelUrl}/${comment.upload.uniqueTag}`)
                | Media: #{comment.upload.title}

          p Comment: #{comment.text}

          footer.admin-buttons
            form(action="/admin/comments" method="POST")
              input(type='hidden', name='_csrf', value=_csrf)
              input(type='hidden', name='user', value=`${comment.commenter._id}`)
              input(type='hidden', name='comment', value=`${comment._id}`)
              button.btn.btn-success(name="commentChangeValue" value="reinstateComment" type="submit" ) Reinstate Comment
              button.btn.btn-danger(name="commentChangeValue" value="deleteComment" type="submit" ) Delete Comment
              button.btn.btn-danger(name="commentChangeValue" value="deleteCommentBanUser" type="submit" ) Delete Comment/Ban User
