extends ../layout

block extra_css
  link(rel="stylesheet", href="/css/alt-styles.css")

block extra_js
  script.
    (() => {
      const constraints = #{constraints};
      console.log(constraints);
    })();
  script(src="/js/admin/invitations.js" defer)

block content
  h1 Invitations overview (Admin)
  section.invitationcreate
    h2
      button(type="button") 
        label.hiddenpointer(for="createinvitation")
          span.fas.fa-plus(aria-hidden="true")
          |
          | Create invitation
    input#createinvitation(type="checkbox", name="hiddenswitch" hidden)
    form(action="/admin/invitations/create", method="POST")
      //- TODO: get an `id` of the person submitting the form
      input(type="hidden", name="creator", value=userID required)
      input(type="hidden", name='_csrf', value=_csrf required)
      div
        //- TODO: change the value through button only
        label(for="code") Code:
        input#code(type="text", name="code", aria-required="true", value=code, readonly, minlength=21, maxlength=21)
        //- TODO: make a way to reroll the code
        //- button(type="button") Reroll code
      div
        label(for="title") Title:
        input#title(type="text", name="title")
      div
        label(for="description") Description:
        textarea#description(
          name="description", 
          cols="30", 
          rows="5", 
          maxlength="200", 
          spellcheck="default", 
        ) 
      div
        label(for="uses") Max uses:
        input#uses(type="number", name="usesLeft", aria-required="true", min="1" value="1")
      div
        label(for="expires") Expires:
        //- TODO: make it more QoL, probably a `<select>` list with options.
        input#expires(type="date", name="expirationDate", min= new Date())
      div.buttons
        button(type="submit") Submit

  section.invitations
    h2 Invitations list
    div.controls
      //- TODO: add sorting functionality
    each invitation in invitations
      article.invitationcard
        header
          h2 #[a(href=`/admin/invitations/${invitation.code}`) #{invitation.code}]
          p #{invitation.status}
          p #{invitation.title}
          p #[a(href=`/user/${invitation.creator.channelUrl}`) Creator]

          if invitation.usesLeft !== 0 && invitation.expirationDate > Date.now()
            p Uses left: #{invitation.usesLeft}
          else
            p Expired or out of uses.
          
          p #{invitation.description}

        section.guests
          if invitation.guests.length === 0
            p No guests yet.
          else
            p Total of #{invitation.guests.length} guests
          //- TODO: add sorting functionality
          ul.guestlist
            each guest in invitation.guests
              li.guestcard
                p #{guest.channelName}
                p #{guest.channelURL}
                p #{guest.role}
                p #{guest.plan}

        footer
          div.buttons
            a(href=`/admin/invitations/${invitation.code}/edit`) Edit
            //- TODO: Disabling functionality
          div
            p Created:
              date(datetime=invitation.createdAt) #{invitation.createdAt}
            p Expires:
              date(datetime=invitation.expirationDate) #{invitation.expirationDate}