include mixins
doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='theme-color' content='#183793')
    meta(name='csrf-token', content=_csrf)
    meta(name="description", content=meta.description)
    title #{title} - #{brandName}
    
    //- TODO: kind of want to remove the - Brandname, it doesn't look great
    meta(property='og:title', content=(meta.title || title))
    meta(property='og:image', content=meta.image)
    meta(property='og:description', content=meta.description)
    meta(property='og:video', content=meta.video)

    //- twitter meta tags
    //- trying out large card of twitter
    meta(name='twitter:card', content='summary_large_image')
    //- meta(name='twitter:card', content='summary')
    meta(name='twitter:title', content=(meta.title || title))
    meta(name='twitter:description', content=meta.description || "An open-source file hosting platform")
    meta(name='twitter:image', content=meta.image)


    link(rel='shortcut icon', href='/favicon.ico')
    link(rel='apple-touch-icon', href='/images/app-icon-512x512.png')
    link(rel='manifest', href='/manifest.json')
    link(rel='alternate', type='application/rss+xml', href='/media/recent/rss')

    block styles
      link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@7.33.1/dist/sweetalert2.css')
      link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css')
      link(rel='stylesheet', href='https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css')
      link(rel='stylesheet', href='/css/main.css')
    
    if adsenseOn
      script(data-ad-client=`${adsenseId}` async='' src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")

    if recaptchaOn
      script(src='https://www.google.com/recaptcha/api.js')
      include widgets/recaptcha

    block scripts
      script(src='/js/lib/jquery-3.1.1.min.js')
      script(src='/js/lib/bootstrap.min.js')
      script(src="https://cdnjs.cloudflare.com/ajax/libs/headroom/0.11.0/headroom.min.js")
      script(src='https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/balance-text/3.2.0/balancetext.min.js')
      script(src='https://cdn.jsdelivr.net/npm/sweetalert2@7.33.1/dist/sweetalert2.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/enquire.js/2.0.1/enquire.min.js')
      script(src='/js/loading-bar.js')
      script(src='/js/main.js' defer)
      script(src="/js/header.js" defer)
      script.
        $(document).ready(function () {

          console.log('lets')

          var orderBy = '#{orderBy}'
          var mediaType = '#{mediaType}'
          var searchQuery = '#{searchQuery}'
          var searchType = '#{searchType}' // upload or user

          console.log(orderBy, mediaType, searchQuery, searchType)

          if (!orderBy) {
            orderBy = 'newToOld'
          }

          console.log(orderBy, mediaType, searchQuery, searchType)

          // $('.search-query-input').focus();

          // TODO: how to capture enter from input
          $(".search-query-input").on('keyup', function (e) {
            if (e.key === 'Enter' || e.keyCode === 13) {
              var userSearchQuery = $('.search-query-input').val()

              window.location = '/search?orderBy=' + orderBy + '&mediaType=' + mediaType + '&searchQuery=' + userSearchQuery + '&searchType=' + searchType
              // Do something
            }
          });

          // capture submit
          $('.search-uploads-button').click(function () {

            var userSearchQuery = $('.search-query-input').val()

            window.location = '/search?orderBy=' + orderBy + '&mediaType=' + mediaType + '&searchQuery=' + userSearchQuery + '&searchType=' + searchType
          });

        });
      

  body
    //- fix the script in the `media.pug` to get rid of `.headerContainer`
    header.container.headerContainer.gheader
      ul.gtop
        li
          a.glogo(href="/") #{brandName}
        li
          //- button.searchPlaceHolder
          //-   i.fas.fa-search.searchExpander.searchExpanderButton
          //-   i.fas.fa-arrow-left.searchExpander.backButtonIcon

          form.search-bar.gsearch
            input(type='hidden', name='_csrf', value=_csrf)
            input.search-query-input(type='search', name='searchValue' value=`${searchQuery !== undefined ? searchQuery : ''}`)
            button.search-uploads-button.searchButton(type="submit")
              span.fas.fa-search

      nav.gnav
        div
          button.hamburgerDropdown(onclick='toggleNav()')
            img(src="/images/white-burger.jpg", width="40")      
        div
          a(href="/random")
            span.fas.fa-random(aria-hidden="true")
            |
            | Random

        if !user
          div.signInDiv
            a(href="/login")
              span.fas.fa-sign-in-alt(aria-hidden="true")
              |
              | Sign In

            //- img(src="/images/random.png")

          //- BELL ICON
          //- button
          //-   img(src="/bell-angle.png")

        div
          a.postButton.postIcon(href="/upload", data-toggle='modal', data-target='#exampleModal')
            span.fas.fa-upload
            |
            | Upload
              
        if user
          div
            button.userImage
              if user.customThumbnail
                img(onclick='toggleAccount()' src=`${uploadServer}/${user.channelUrl}/${user.customThumbnail}`)
              else
                img(onclick='toggleAccount()' src=`/images/default_user_image.png`)
                //- img.center-block.text-center(onclick='toggleAccount()' src=`${uploadServer}/${user._id}/unique.png`)

    //- dark/light mode switch
    script.
      /** colors **/
      var blueNavbarHeader = "rgb(24,55,147)";
      var blackNavbarHeader = "#1c1c1c";

      /** two modes : light-mode || dark-mode **/

      // get current setting from localstorage
      var darkLightInMemory = localStorage.getItem("darkLight");

      // if it's not set yet set it as dark-mode
      if(!darkLightInMemory){
        localStorage.setItem('darkLight', 'dark-mode');
        darkLightInMemory = 'dark-mode';
      }

      console.log(darkLightInMemory)

      // get class name from the body
      var currentClassNameOfBody = document.getElementById("body").className;

      // if memory says dark mode, no need to do anything since it's set to dark by default
      if(darkLightInMemory == 'dark-mode'){
        document.getElementById("header-color-blue").style.backgroundColor = blackNavbarHeader;
        // switch over
      } else if(darkLightInMemory == 'light-mode' && currentClassNameOfBody == 'dark-mode') {
        document.getElementById("header-color-blue").style.backgroundColor = blueNavbarHeader;
        document.getElementById("body").className = 'light-mode';
        // switch over
      }

      console.log(darkLightInMemory, currentClassNameOfBody);

      // js that runs when button is clicked
      function toggleDarkLight() {

        var darkLightInMemory = localStorage.getItem("darkLight");

        console.log(darkLightInMemory);

        var body = document.getElementById("body");

        // switch body.className
        if(darkLightInMemory == 'light-mode'){
          document.getElementById("body").className = 'dark-mode';
        } else {
          document.getElementById("body").className = 'light-mode';
        }

        var modeToChangeTo;

        // switch body.className
        if (darkLightInMemory == 'light-mode') {
          modeToChangeTo = 'dark-mode'
        } else {
          modeToChangeTo = 'light-mode'
        }

        // set the value in localstorage
        localStorage.setItem('darkLight', modeToChangeTo);

        // change footer text
        if (localStorage.getItem("darkLight") === "dark-mode") {
          document.getElementById("dark-mode-button").innerHTML = "[Light Mode]"
        } else if (localStorage.getItem("darkLight") === "light-mode") {
          document.getElementById("dark-mode-button").innerHTML = "[Dark Mode]"
        }

        if (body.className === "light-mode") {
          document.getElementById("header-color-blue").style.backgroundColor = blueNavbarHeader;
        } else {
          document.getElementById("header-color-blue").style.backgroundColor = blackNavbarHeader;
        }
      }

    include layoutPartials/sidebar
    include layoutPartials/flash

    main#maincontent
      block content

    footer.gfooter
      block footer
      address
        p © 2020 #{brandName} &nbsp

        a(href="https://paypal.me/newtubeapp" target="_blank") PayPal

        a(href="https://twitter.com/newtube_app" target="_blank") Twitter

        a(href="https://www.facebook.com/NewTube-114869126871911" target="_blank") Facebook

        a(href="https://discord.gg/ejGah8H" target="_blank") Discord

        a(href="https://github.com/mayeaux/nodetube" target="_blank") GitHub

        a(href="https://riot.im/app/#/room/#nodetube:matrix.org" target="_blank") Riot.im

        a(href="https://reddit.com/r/nodetube" target="_blank") Reddit

        a(href="https://fosstodon.org/@nodetube" target="_blank") Fosstodon
            
        button(onclick="toggleDarkLight()" class="link-button" id="dark-mode-button" style="") [Dark Mode]

        a(href="/termsofservice") Terms Of Service

      if zopimOn
        include widgets/zopim

      if googleAnalyticsOn
        include widgets/google-analytics

      script.
        var accountOpen = false;

        function toggleAccount() {
          // account closed, open div
          if (!accountOpen) {
            document.getElementById("accountDropdown").style.display = "";
            accountOpen = true;

            // account open, close div
          } else if (accountOpen) {
            document.getElementById("accountDropdown").style.display = "none";

            accountOpen = false;
          }
        }

      script.
        var sidebarClosed = true;

        function toggleNav() {
          if (sidebarClosed) {
            document.getElementById("mySidebar").style.width = "253px";
            // document.getElementById("main").style.marginLeft = "253px";

            sidebarClosed = false;
          } else if (!sidebarClosed) {
            document.getElementById("mySidebar").style.width = "0";
            // document.getElementById("main").style.marginLeft = "0";

            sidebarClosed = true;
          }
        }

      if 1==1
        script.
          if (document.getElementById("body").className == "dark-mode") {
            document.getElementById("dark-mode-button").innerHTML = "[Light Mode]"
          }

      if !user
        script.
          $('.subscribed-link').on('release click', function(e){
            e.preventDefault();

            swal({
              text: "Please register to subscribe to content",
              type: 'warning',
              showCancelButton: true,
              confirmButtonText: 'Sign Up Now'
            }).then(function (result) {
              if (result.value) {
                window.location.href = "/signup";
              }
            })
          })

    //- script.
    //-   $.magneticScroll({
    //-     speed: 1
    //-   });


    //- script.
    //- 
    //-   $(document).ready(function () {
    //-     $("body").niceScroll({
    //-       cursorcolor: "aquamarine",
    //-       cursorwidth: "16px",
    //-       'zindex' : 999999999999999,
    //-       scrollspeed: 1,
    //-       smoothscroll: true,
    //-       mousescrollstep: 38
    //-     });
    //- 
    //- 
    //-   });




