//- semantic `<blockquote>` which also exposes the `<cite>` URL
mixin semQuote(url, source)
  figure
    figcaption As per
      a(href=url) #[cite #{source}]
    | :
    blockquote(cite=url)
      block quote

mixin pagination()
  ul
  
mixin semArticle()
  article
    header
      block header
    section
      block body
    aside
      block aside
    footer
      block footer

//- 
mixin semPicture(url, alt, width, height, srcset, sources)
  a(href=url)
    picture
      each source in sources
        source(src=source.src, type=source.type)
      img(src=url, alt=alt, srcset=srcset, width=width, height=height)